
#titlebar     { display:none!important }
#sidebar-main { display:none!important }

#navigator-toolbox[customizing]{ display:-moz-box; -moz-box-orient:vertical;    }
#navigator-toolbox             { display:grid; grid-template-columns:50vw auto; }
#navigator-toolbox > *         { grid-column:1/-1;          font-size: 1.2vh    }
#nav-bar                       { grid-column:1; grid-row:1; font-size: 1.6vh    }
#TabsToolbar                   { grid-column:2; grid-row:1; font-size: 1.6vh    }
#nav-bar,#TabsToolbar          { display:flex; align-items:center; height:2.8vh }


@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
#sidebar-button            { display: none !important; }
#home-button               { display: none !important; }
#back-button               { display: none !important; }
#forward-button            { display: none !important; }
#firefox-view-button       { display: none !important; }
#new-tab-button            { display: none !important; }
#alltabs-button            { display: none !important; }
#titlebar-close            { display: none !important; }
#import-button             { display :none !important; }
#bookmarks-menu-button     { display :flex !important; }
#unified-extensions-button { display: flex !important; }
#fxa-toolbar-menu-button   { display: flex !important; }

