# I3 config, an improved dynamic & tiling window manager.


# auto exec
  #exec-always pkill -SIGRTMIN+11 i3blocks
  exec_always --no-startup-id  nice /home/00/autoexec.sh && pkill -SIGRTMIN+11 i3blocks

# key basic
  set $mod Mod1
  # Use Mouse+$mod to drag floating windows to their wanted position
  floating_modifier $mod


