# I3 config, an improved dynamic & tiling window manager.


# set $mod  Mod1
  set $win  Super
  set $alt  Mod1
  set $ctrl Ctrl
  set $shft Shift
  set $winl Super_L
  set $winr Super_R

# system

  bindsym $alt+Escape          exec betterlockscreen -l

  bindsym $alt+$shft+Delete    exec poweroff
  bindsym $alt+$shft+Insert    exec reboot

  bindsym $alt+$shft+BackSpace exit i3
  bindsym $alt+$shft+Tab       restart


