# GRUB config,


clear

insmod fat
search --no-floppy --label --set=root UEFI
insmod png
background_image ($root)/grub/splash/archlinux/arch.png

color_normal=black/black
echo ""
color_normal=white/black


