<settings version="2">
    <setting id="biogsource" default="true">TheAudioDb.com</setting>
    <setting id="tadbartistlanguage" default="true">en</setting>
    <setting id="discogsource" default="true">MusicBrainz</setting>
    <setting id="lifespansource" default="true">TheAudioDb.com</setting>
    <setting id="yearsasource" default="true">allmusic.com</setting>
    <setting id="genressource" default="true">TheAudioDb.com</setting>
    <setting id="stylessource" default="true">TheAudioDb.com</setting>
    <setting id="moodssource" default="true">TheAudioDb.com</setting>
    <setting id="biogfbsource" default="true">None</setting>
    <setting id="lifespanfbsource" default="true">None</setting>
    <setting id="genresfbsource" default="true">None</setting>
    <setting id="stylesfbsource" default="true">None</setting>
    <setting id="moodsfbsource" default="true">None</setting>
    <setting id="fanarttvthumbs">true</setting>
    <setting id="tadbthumbs">true</setting>
    <setting id="fanarttvfanart">true</setting>
    <setting id="tadbfanart">true</setting>
    <setting id="fanarttvartistcl" default="true">false</setting>
    <setting id="tadbartistclearlogo" default="true">false</setting>
    <setting id="tadbartistclearart" default="true">false</setting>
    <setting id="tadbartistlandscape" default="true">false</setting>
    <setting id="fanarttvartistbanner" default="true">false</setting>
    <setting id="tadbartistbanner" default="true">false</setting>
    <setting id="mbsite" default="true">https://musicbrainz.org</setting>
</settings>
